<h3>Please install these tools to be ready:</h3>
<ul class="flex-container">
    <li class="flex-item hint" >
        <strong>Chrome </strong>
        get it <a href="https://www.google.com/intl/en/chrome/browser/">here</a><br>
        <strong>Node.js (Version &gt;= 4) and NPM (Version &gt;= 3)</strong>
        get it <a href="http://nodejs.org/download/">here</a><br>
        <strong>angular-cli</strong>
        <code>$ npm i -g angular-cli</code><br>
        <strong>IDE / Editor</strong>
        I Highly recommend <a href="https://code.visualstudio.com/">vscode</a><br>
    </li>
    <li class="flex-item hint" >
        Verify:<br>
        $ node -v<br>
        $ npm -v<br>
        $ ng v<br>
    </li>
    <li class="flex-item hint" >
        <br>
        <br>
        <strong>Clickdummy: </strong> <a href="https:/sandbox.webdave.de">here</a>
    </li>
</ul>
